# 외부 데이터 수집과 정제(2)

In [1]:
import re

In [2]:
# re.search()함수를 사용하면 두 번째 매개변수의 문자열이 첫 번째 매개변수의 정규 표현식과 매칭되는지 확인 가능
# 매칭되는 경우 Match 객체를 반환, 매칭되지 않는 경우 None을 반환
re.search(r'a.*c', 'abc123DEF')

In [3]:
# 다음 예는 정규 표현식에 맞지 않으므로 None을 반환
result = re.search(r'a.*D', 'abc123DEF')

In [4]:
result

In [5]:
start, end = result.span()
print(start, end)
print(result.string)

0 7
abc123DEF

In [6]:
# re.IGNORECASE(또는 re.I)를 지정하면 대소문자를 무시
re.search(r'a.*d', 'abc123DEF', re.IGNORECASE)

In [7]:
# Match 객체의 group() 메서드로 일치한 값을 추출
# 매개변수에 0을 지정하면 매치된 모든 값을 반환
m = re.search(r'a(.*)c', 'abc123DEFaddc')
print(m.group(0))

abc123DEFaddc

In [8]:
# 매개변수에 1 이상의 숫자를 지정하면 정규 표현식에서 0로 감싼 부분에 해당하는 값을 추출
# 1이라면 1번째 그룹, 2라면 2번째 그룹 추출
m.group(1)

'bc123DEFadd'

In [9]:
# re.findall() 함수를 사용하면 정규 표현식에 맞는 모든 문자열을 리스트 타입으로 추출 가능
# 다음 예에서는 2글자 이상의 단어를 모두 추출
# \w는 유니코드로 글자를 비교, 공백 문자는 \s 등으로 추출할 수 있습니다.
re.findall(r'\w{2,3}', 'This is a pen')

['Thi', 'is', 'pen']

In [10]:
# re.subO()함수를 사용하면 정규 표현식에 매칭되는 문자열 치환
# 3번째 매개변수에 넣은 문자열에서 첫 번째 정규 표현식에 매칭되는 문자열을 2번째 매개변수 문자열로 치환
re.sub(r'\w{4}', 'That', 'This is a pen')

'That is a pen'

In [11]:
result = re.search(r'a.*c', ' abc123DEF')
result

In [12]:
# match는 시작부터 일치하는지를 검사, search는 매칭되는 위치가 어디인지 탐색
result = re.match(r'a.*c', 'abc123DEF')
result

In [13]:
import re
from html import unescape

In [ ]:
# 이전 절에서 다운로드한 파일을 열고 html이라는 변수에 저장
with open(r'C:\Users\user\Desktop\python workplace\웹크롤링,스크래핑_실습데이터\dp.html', encoding='utf-8') as f:
    html = f.read()

In [ ]:
# re.findall() 메서드를 통해 도서 하나에 해당하는 HTML을 추출
for partial_html in re.findall(r'<td class="left"><a.*?</td>', html, re.DOTALL):
    # 도서의 URL을 추출
    
    # 그룹 0 은 매치된 전체문자
    # () 로 지정한 그룹핑이 있다면 group(index) 로 찾을 수 있음
    print(re.search(r'<a href="(.*?)">', partial_html).group(0))
    print(re.search(r'<a href="(.*?)">', partial_html).group(1))
    
    url = re.search(r'<a href="(.*?)">', partial_html).group(1) 
    url = 'http://www.hanbit.co.kr' + url
    
    # 태그를 제거해서 도서의 제목을 추출
    # re.sub(pattern, new_text, text)
    # text에서 pattern에 맞는 부분을 new_text로 대체
    title = re.sub(r'<.*?>', '', partial_html)
    title = unescape(title)
    
    print('url:', url)
    print('title:', title)
    print('---')

In [ ]:
# ElementTree 모듈을 로드
from xml.etree import ElementTree

In [ ]:
# parse() 함수로 파일을 읽고 ElementTree 객체를 생성
tree = ElementTree.parse(r'C:\Users\user\Desktop\python workplace\웹크롤링,스크래핑_실습데이터\rss.xml')

In [ ]:
#getroot() 메서드로 XML의 루트 element를 추출
root = tree.getroot()
root.findtext()

In [ ]:
import pandas as pd

In [ ]:
데이터프레임_리스트 = []
for item in root.findall('channel/item/description/body/location/data'):
    #find() 메서드로 elemnt 탐색, text 속성으로 값을 추출
    tm_ef = item.find('tmEf').text
    tmn = item.find('tmn').text
    tmx = item.find('tmx').text
    wf = item.find('wf').text
    데이터프레임 = pd.DataFrame({
        '일시':[tm_ef],
        '최저기온':[tmn],
        '최고기온':[tmx],
        '날씨':[wf],
    })
    데이터프레임_리스트.append(데이터프레임)
날씨정보 = pd.concat(데이터프레임_리스트)
날씨정보

In [ ]:
데이터프레임_리스트

In [ ]:
import csv

In [ ]:
# file open, newline=''으로 개행문자 지정
with open('top_cities.csv', 'w', newline='') as f:
    # csv.writer는 파일 객체를 매개변수로 지정
    writer = csv.writer(f)  
    # 첫 번째 줄에는 헤더를 작성합니다.
    writer.writerow(['rank', 'city', 'population'])  
    # writerows()에 리스트를 전달하면 여러 개의 값을 출력
    writer.writerows([
        [1, '상하이', 24150000],
        [2, '카라치', 23500000],
        [3, '베이징', 21516000],
        [4, '텐진', 14722100],
        [5, '이스탄불', 14160467],
    ])

In [ ]:
# file open, newline=''으로 개행문자 지정
with open('top_cities.csv', 'w', newline='',encoding='utf-8') as f:
    # 첫 번째 매개변수에 파일 객체
    # 두 번째 매개변수에 필드명 리스트를 지정
    writer = csv.DictWriter(f, ['rank', 'city', 'population'])
      # 첫 번째 줄에 헤더를 입력
    writer.writeheader()
      # writer.writerows()로 여러 개의 데이터를 딕셔너리 형태로 작성
    writer.writerows([ 
          {'rank': 1, 'city': '상하이', 'population': 24150000},
          {'rank': 2, 'city': '카라치', 'population': 23500000},
          {'rank': 3, 'city': '베이징', 'population': 21516000},
          {'rank': 4, 'city': '텐진', 'population': 14722110},
          {'rank': 5, 'city': '이스탄불', 'population': 14160467},
      ])

In [ ]:
import chardet

In [ ]:
char_dic = chardet.detect(open('top_cities.csv', 'rb').read())

In [ ]:
char_dic['encoding']

In [ ]:
import json

In [ ]:
cities =  [
{'rank': 1, 'city': '상하이', 'population': 24150000},
{'rank': 2, 'city': '카라치', 'population': 23500000},
{'rank': 3, 'city': '베이징', 'population': 21516000},
{'rank': 4, 'city': '텐진', 'population': 14722110},
{'rank': 5, 'city': '이스탄불', 'population': 14160467},
]

In [ ]:
with open('top_cities.json','w') as fw:
    json.dump(cities,fw)

In [ ]:
with open('top_cities.json','r') as fr:
    json_file = json.load(fr)
    print(json_file)

In [ ]:
import pandas as pd
import sqlite3
from pandas.io import sql
import os

In [ ]:
DB_NAME = 'top_cities.db'
TABLE_NAME = 'TOP_CITIES'

In [ ]:
def db_save(df, db_name, table_name):
    with sqlite3.connect(db_name) as con:
        try:
            df.to_sql(name = table_name, con = con, index = False, if_exists='append') 
            #if_exists : {'fail', 'replace', 'append'} default : fail
        except Exception as e:
            print(str(e))
        print(len(df), '건 저장완료..')

In [ ]:
def db_select(db_name, table_name):
    with sqlite3.connect(db_name) as con: 
        try:
            query = 'SELECT * FROM {}'.format(table_name)
            df = pd.read_sql(query, con = con)
        except Exception as e:
            print(str(e)) 
        return df

In [ ]:
def db_delete(db_name, table_name):
    with sqlite3.connect(db_name) as con: 
        try:
            cur = con.cursor()
            sql = 'DELETE FROM {}'.format(table_name)
            cur.execute(sql)
        except Exception as e:
            print(str(e))

In [ ]:
top_cites = pd.read_csv('top_cities.csv')
db_save(top_cites, DB_NAME, TABLE_NAME)

In [ ]:
df = db_select(DB_NAME, TABLE_NAME)
df

In [1]:
import re
import sqlite3
from urllib.request import urlopen
from html import unescape
import pandas as pd
import os

In [2]:
def fetch(url):
    """
    매개변수로 전달받을 url을 기반으로 웹 페이지를 추출
    웹 페이지의 Content-Type 헤더를 통해 인코딩 형식 확인
    반환값: str 자료형의 HTML
    """
    f = urlopen(url)
    # HTTP 헤더를 기반으로 인코딩 형식 추출
    encoding = f.info().get_content_charset(failobj="utf-8")
    # 추출한 인코딩 형식을 기반으로 문자열 디코딩
    html = f.read().decode(encoding)
    return html

In [3]:
def scrape(html):
    """
    매개변수 html로 받은 HTML을 기반으로 정규 표현식을 사용해 도서 정보를 추출합니다.
    반환값: 도서(dict) 리스트
    """
    books = []
    # re.findall()을 사용해 도서 하나에 해당하는 HTML을 추출
    for partial_html in re.findall(r'<td class="left"><a.*?</td>', html, re.DOTALL):
        # 도서의 URL을 추출
        url = re.search(r'<a href="(.*?)">', partial_html).group(1)
        url = 'http://www.hanbit.co.kr' + url
        # 태그를 제거해서 도서의 제목 추출
        title = re.sub(r'<.*?>', '', partial_html)
        title = unescape(title)
        books.append(pd.DataFrame({'url': [url], 'title': [title]}))

    return pd.concat(books)

In [4]:
def save(db_path, books):
    with sqlite3.connect(os.path.join('.', db_path)) as con: # sqlite DB 파일이 존재하지 않는 경우 파일생성
        try:
            books.to_sql(name = 'BOOKS_INFO', con = con, index = False, if_exists='append') 
            #if_exists : {'fail', 'replace', 'append'} default : fail
        except Exception as e:
            print(str(e))
    
    query = 'SELECT * FROM BOOKS_INFO'
    df = pd.read_sql(query, con = con)
    return df

In [5]:
html = fetch('http://www.hanbit.co.kr/store/books/full_book_list.html')

In [6]:
df = scrape(html)
df.head()

,url,title
0,http://www.hanbit.co.kr/store/books/look.php?p...,메타버스로 구현하는 나만의 세상
0,http://www.hanbit.co.kr/store/books/look.php?p...,"IT CookBook, 생활 속 예제로 배우는 생생 데이터 분석"
0,http://www.hanbit.co.kr/store/books/look.php?p...,"IT CookBook, 데이터 과학을 위한 파이썬 프로그래밍(2판)"
0,http://www.hanbit.co.kr/store/books/look.php?p...,리얼 오사카 [2023~2024]
0,http://www.hanbit.co.kr/store/books/look.php?p...,"IT CookBook, 처음 만나는 자동제어공학(2판)"

In [7]:
#drop=True옵션을 주면 기존 인덱스를 버리고 재배열해준다.
df.reset_index(drop=True, inplace=True)
df.head()

,url,title
0,http://www.hanbit.co.kr/store/books/look.php?p...,메타버스로 구현하는 나만의 세상
1,http://www.hanbit.co.kr/store/books/look.php?p...,"IT CookBook, 생활 속 예제로 배우는 생생 데이터 분석"
2,http://www.hanbit.co.kr/store/books/look.php?p...,"IT CookBook, 데이터 과학을 위한 파이썬 프로그래밍(2판)"
3,http://www.hanbit.co.kr/store/books/look.php?p...,리얼 오사카 [2023~2024]
4,http://www.hanbit.co.kr/store/books/look.php?p...,"IT CookBook, 처음 만나는 자동제어공학(2판)"

In [8]:
df2 = save('books.db', df)
df2.head()

,url,title
0,http://www.hanbit.co.kr/store/books/look.php?p...,메타버스로 구현하는 나만의 세상
1,http://www.hanbit.co.kr/store/books/look.php?p...,"IT CookBook, 생활 속 예제로 배우는 생생 데이터 분석"
2,http://www.hanbit.co.kr/store/books/look.php?p...,"IT CookBook, 데이터 과학을 위한 파이썬 프로그래밍(2판)"
3,http://www.hanbit.co.kr/store/books/look.php?p...,리얼 오사카 [2023~2024]
4,http://www.hanbit.co.kr/store/books/look.php?p...,"IT CookBook, 처음 만나는 자동제어공학(2판)"

In [9]:
import lxml.html

In [ ]:
# HTML 파일을 읽어 들이고, getroot() 메서드로 HtmlElement 객체 생성
tree = lxml.html.parse(r'C:\Users\user\Desktop\python workplace\웹크롤링,스크래핑_실습데이터\dp.html')
html = tree.getroot()

In [ ]:
# cssselect() 메서드로 a 요소의 리스트를 추출 및 반복 수행
for a in html.cssselect('a'):
    # href 속성과 글자를 추출합니다.
    print(a.get('href'), a.text)

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
# HTML 파일을 읽어 들이고 BeautifulSoup 객체를 생성
with open(r'C:\Users\user\Desktop\python workplace\웹크롤링,스크래핑_실습데이터\full_book_list.html') as f:
    soup = BeautifulSoup(f,'html.parser')

In [ ]:
# find_all() 메서드로 a 요소를 추출 및 반복 수행
for a in soup.find_all('a'):
    # href 속성과 글자를 추출합니다.
    print(a.get('href'), a.text)